* {
  margin: 0;
  padding: 0;
}

/*------------------------------------------ Navbar -------------------------------------*/
.navbarImg {
  background-image: url(../public/Slider.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  max-height: 850px;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.navbar {
  /* background-color: rgba(0,0,0,.5); */
  box-sizing: border-box;
  left: 0;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
}

.nav-link {
  font-size: 20px;
  color: black;
}

.nav-link:hover {
  font-size: 20px;
  color: black;
  background-color: rgb(210, 192, 192);
  border-radius: 10px;
}

.active {
  background-color: red;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  width: 100%;
  padding: 3px;
}

.navBtn {
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  color: white;
}