* {
  margin: 0;
  padding: 0;
}

/*------------------------------------------ Navbar -------------------------------------*/
.navbarImg {
  background-image: url(https://res.cloudinary.com/dckaznwk5/image/upload/v1705475289/UpperFooter2_pxbrdc.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  max-height: 850px;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.navbar {
  /* background-color: rgba(0,0,0,.5); */
  box-sizing: border-box;
  left: 0;
  padding: 15px;
  top: 0;
  width: 100%;
  z-index: 1000;
  position: absolute;
}

.navbar-brand {
  color: white;
}

.navbar.scrolled {
  background-color: white;
  color: black;
  /* border-bottom: 2px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: fixed;

  .navbar-brand {
    color: black;
  }

}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.nav-link {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5px;
}

.nav-link:hover {
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: red;
  border-radius: 10px;
}

nav .active {
  background-color: red;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

/*.navBtnGroup {
   background-color: rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid white; 
 box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; 
}*/

.navBtn {
  padding: 6px;
  border-radius: 5px;
  color: black;
  background-color: red;
}

/* .navBtn Link {
  color: black;
} */

.navBtn:hover {
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 6px;
}

@media only screen and (max-width: 998px) {
  .navbar {
    background-color: white;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .navbar-brand {
    color: black;
  }

  .navBtnGroup {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    margin: auto;
  }

  nav .active {
    width: 20vw;
  }
}

/*------------------------------------------ SelectBar -------------------------------------*/
.SelectSetting {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-content: center;
  left: 50px;
  bottom: 200px;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 35px;
  border-radius: 15px;
  max-width: 50vw;
}

.SelectBar {
  width: 80%;
}

.SelectBtn {
  width: 20%;
}

@media only screen and (max-width: 998px) {
  .SelectSetting {
    max-width: 85vw;
    padding: 35px 13px 35px 2px;
  }

  .SelectBar {
    width: 70%;
  }

  .SelectBtn {
    width: 30%;
  }
}


/*------------------------------------------ TopDestination -------------------------------------*/
.TDCardSetting {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-detail {
  display: flex;
  flex-direction: row;
}

.card-detail-2 {
  margin-left: auto;
}

.CardTitle {
  position: absolute;
  text-transform: uppercase;
  left: 10px;
  bottom: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.ProcessingTime {
  color: #7F8387;
  font-weight: bolder;
  text-transform: uppercase;
}

.TDStartingFrom {
  color: #0D6EFD;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.TDPrice {
  color: black;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*------------------------------------------ Most Popular Routes -------------------------------------*/
/* .cardSetting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
} */
/* 
.card img {
  width: 15rem;
  height: 10rem;
  border: 2px gray solid;
  border-radius: 15px;

}

.card {
  display: flex;
  justify-content: center;
  align-content: center;
}
 */



.MPRCardSetting {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0px;

}

.MPRCardSetting img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 15vw;
  height: 10rem;
  border: 2px solid black;
  border-radius: 45px;
  padding: 15px;
}


@media only screen and (max-width: 1198px) {
  .MPRCardSetting img {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 20vw;
    height: 10rem;
    border: 2px solid black;
    border-radius: 45px;
    padding: 10px;
  }
}


@media only screen and (max-width: 992px) {
  .MPRCardSetting img {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 30vw;
    height: 10rem;
    border: 2px solid black;
    border-radius: 45px;
    padding: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .MPRCardSetting img {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 65vw;
    height: 25vh;
    border: 2px solid black;
    border-radius: 45px;
    padding: 10px;
  }
}


.MPRCard-img {
  border: 2px solid black;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.Destination {
  color: #7F8387;
  font-weight: bolder;
  text-transform: uppercase;
}

.MPRStartingFrom {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #0D6EFD;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.MPRPrice {
  display: flex;
  justify-content: center;
  align-content: center;
  color: black;
  font-weight: bolder;
}

/*------------------------------------------ Top Visa Destination -------------------------------------*/
.topVisaDestination {
  display: flex;
  justify-content: center;
  align-content: center;
}

.smallCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  color: black;
  border-bottom: 2px solid black;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-weight: bolder;
  font-size: 18px;
  cursor: pointer;
}

.smallCardPrice {
  color: #0D6EFD;
  font-weight: bold;
}

.smallCardTitle {
  display: flex;
  justify-content: center;
  align-content: center;
}

.CardLink {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-left: auto;
  top: 10px;
  font-weight: bolder;
  font-size: 20px;
}

/* ---------------------------------------------------------------LowerFooter-------------------------------------------- */
.socialIcons a {
  display: inline-flex;
  border: 3px solid gray;
  border-radius: 50px;
  color: gray;
  background: none;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 5px;
}

.socialIcons a:hover {
  display: inline-flex;
  border: 3px solid red;
  border-radius: 50px;
  color: red;
  background: none;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 5px;
}

.headerSection2 h4 {
  color: #FF0000;
}

.headerSection2 ul {
  list-style-type: none;
  padding-inline: 0;
  font-size: 20px;
}

.headerSection2 a {
  font-size: 20px;
  text-decoration: none;
  color: gray;
}

.headerSection2 a:hover {
  color: #FF0000;
}

.secondFooter {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 3px;
  font-size: 20px;
}

/* -----------------------------------------UpperFooter------------------------------------------------------ */
.UpperFooter {
  background: url("https://res.cloudinary.com/dckaznwk5/image/upload/v1705475284/UpperFooter_uarqtb.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.subscribe {
  width: 100%;
  max-width: 500px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  margin-top: 40px;
}

.subscribe input {
  background: transparent;
  border: 0;
  outline: none;
  flex: 1;
}

.subscribe button {
  width: 100%;
  max-width: 100px;
  padding: 6px 15px;
  border-radius: 60px;
  background: #FF0000;
  color: white;
  border: none;
}

.SubscribeText h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 998px) {
  .subscribe {
    width: 100%;
    max-width: 100%;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

/* ---------------------------------------------------------Carousel Buttons------------------------------------------------------------ */
.carouselBtnRow {
  bottom: 100px;
  position: relative;

}

.carouselBtn {
  background: none;
  color: rgb(0, 0, 0);
  border: 2px solid red;
  width: 150px;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.carouselBtn:hover {
  background: red;
  color: white;
  border: 2px solid red;
  width: 150px;
  margin: 10px;
  border-radius: 50px;
}

/* ---------------------------------------------------------Visa ApplyOnline------------------------------------------------------------ */
.ApplyCardSetting {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  height: 60vh;
}

.ApplyCardSetting img {
  width: 250px;
  height: 300px;
  padding: 15px;
}

.ApplyCard-img {
  border: 3px solid red;
  border-radius: 10px;
}

.Method {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}

.MethodDescription {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  color: black;
}

/* ------------------------------------------------------------FAQ's------------------------------------------------------------------------------ */

.item {
  margin-bottom: 5px;
}

.question {
  padding: 10px;
  cursor: pointer;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.answer {
  padding: 10px;
  display: none;
}

.answerShow {
  padding: 10px;
}

.item.active .question {
  display: block;
}

/* ------------------------------------------------------------Country------------------------------------------------------------------------------ */
/* ------------------------------------------------------------PopularAirLines------------------------------------------------------------------------------ */
.AirLinesCard {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid red;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.AirLinesCard:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* -----------------------------------------------------BookCard------------------------------------------------- */
.BookingCard {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 2px solid red;
  border-radius: 25px;
  height: 300px;
  width: 350px;
}

.BookingCard img {
  height: 300px;
  width: 300px;
  padding: 15px;
}

/* ---------------------------------------------------Login Form-------------------------------------------------------------------- */
.wrapper {
  height: 0px;
}

.login {
  width: 600px;
  height: min-content;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 30px;
  border: 2px solid white;
  padding: 20px;
  color: white;
  position: relative;
  bottom: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* ------------------------------------------Wrapper Handle from login / Sign Up-------------------------------------------------------- */
.signUp {
  width: 600px;
  height: min-content;
  border-radius: 30px;
  border: 2px solid white;
  padding: 20px;
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
  position: relative;
  bottom: 320px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* ------------------------------------------Free Consultacny----------------------------------------------------------- */
.freeConsultuncy {
  width: 800px;
  height: min-content;
  border-radius: 30px;
  border: 2px solid white;
  padding: 20px;
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
  position: relative;
  bottom: 320px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



/* -----------------------------------scroll-to-top-button----------------------------- */
.scroll-to-top-button {
  /* fs-2 p-2 rounded fw-bold */
  font-size: 25px;
  font-weight: bolder;
  border-radius: 5px;
  padding: 15px;
  background-color: red;
  color: white;
}

.cartValueScroll-to-top-button {
  font-size: larger;
  font-weight: bold;
  font-style: normal;
  color: white;
}